
.icon-water-heater:before { content: '\e800'; } /* '' */
.icon-seat-belt:before { content: '\e801'; } /* '' */
.icon-stove:before { content: '\e802'; } /* '' */
.icon-tv:before { content: '\e803'; } /* '' */
.icon-speaker:before { content: '\e804'; } /* '' */
.icon-volume:before { content: '\e805'; } /* '' */
.icon-playing-cards:before { content: '\e806'; } /* '' */
.icon-refrigerator-with-freezer:before { content: '\e807'; } /* '' */
.icon-kitchenware:before { content: '\e808'; } /* '' */
.icon-microwave-oven:before { content: '\e809'; } /* '' */
.icon-bluetooh-symbol:before { content: '\e80a'; } /* '' */
.icon-coffe-pot-2:before { content: '\e80b'; } /* '' */
.icon-cooking:before { content: '\e80c'; } /* '' */
.icon-shower-1:before { content: '\e80d'; } /* '' */
.icon-shower:before { content: '\e80e'; } /* '' */
.icon-toilet-paper:before { content: '\e80f'; } /* '' */
.icon-toilet-paper-1:before { content: '\e810'; } /* '' */
.icon-bicycle:before { content: '\e811'; } /* '' */
.icon-outdoors-table-with-chairs-couple-and-umbrella:before { content: '\e812'; } /* '' */
.icon-barbequeue:before { content: '\e813'; } /* '' */
.icon-surfboard:before { content: '\e814'; } /* '' */
.icon-motorhome-3:before { content: '\e815'; } /* '' */
.icon-motorhome-2:before { content: '\e816'; } /* '' */
.icon-motorhome:before { content: '\e817'; } /* '' */
.icon-ayak:before { content: '\e818'; } /* '' */
.icon-solar-panel:before { content: '\e819'; } /* '' */
.icon-oven:before { content: '\e81a'; } /* '' */
.icon-coffe-pot:before { content: '\e81b'; } /* '' */
.icon-coffee-machine:before { content: '\e81c'; } /* '' */
.icon-coffee-machine-1:before { content: '\e81d'; } /* '' */
.icon-baby-boy:before { content: '\e81e'; } /* '' */
.icon-dog-pawn:before { content: '\e81f'; } /* '' */
.icon-dog:before { content: '\e820'; } /* '' */
.icon-lock:before { content: '\e821'; } /* '' */
.icon-adapter:before { content: '\e822'; } /* '' */
.icon-USB:before { content: '\e823'; } /* '' */
.icon-refrigerator:before { content: '\e825'; } /* '' */