
.icon-flash2:before { content: '\e800'; } /* '' */
.icon-gas:before { content: '\e801'; } /* '' */
.icon-plug:before { content: '\e802'; } /* '' */
.icon-light-bulb:before { content: '\e803'; } /* '' */
.icon-towel:before { content: '\e804'; } /* '' */
.icon-fan2:before { content: '\e805'; } /* '' */
.icon-fan:before { content: '\e806'; } /* '' */
.icon-sun-umbrella:before { content: '\e807'; } /* '' */
.icon-awning:before { content: '\e808'; } /* '' */